$font-size-xl: 56px;
$font-size-l: 46px;
$font-size-m: 34px;
$font-size-s: 26px;
$font-size-xs: 20px;

@font-face {
  font-family: Canossa-Ultra;
  src: url(../js/fonts/7fonts.ru_Canossa-Ultra.ttf);
}


$green-color: #759D00;
$red-violet-color: #C71585